<!doctype html>
<html>
	<head>
  		<% include head.html %>
    </head>
	<body>
		<% include header.html %>

		<!-- About Section -->
		    <section id="about">
		        <div class="container">
		            <div class="row">
		                <div class="col-lg-12 text-center">
		                    <h2 class="section-heading">About Me</h2>
		                    <h3 class="section-subheading text-muted">Time Line of the path</h3>
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-lg-12">
		                    <ul class="timeline">
		                        <li>
		                            <div class="timeline-image">
		                                <img class="img-circle img-responsive" src="files/img/about/bit.jpg" alt="">
		                            </div>
		                            <div class="timeline-panel">
		                                <div class="timeline-heading">
		                                    <h4>2007-2011</h4>
		                                    <h4 class="subheading">Beijing Institue of Technology</h4>
		                                </div>
		                                <div class="timeline-body">
		                                    <p class="text-muted">Bachelor Degree of Mechatronics. </p>
		                                </div>
		                            </div>
		                        </li>
		                        <li class="timeline-inverted">
		                            <div class="timeline-image">
		                                <img class="img-circle img-responsive" src="files/img/about/ncsu.png" alt="">
		                            </div>
		                            <div class="timeline-panel">
		                                <div class="timeline-heading">
		                                    <h4>2011 - 2013</h4>
		                                    <h4 class="subheading">North Carolina State University</h4>
		                                </div>
		                                <div class="timeline-body">
		                                    <p class="text-muted">Master Degree in Electrical and Computer Engineer Department. Studied in ADAC Lab, worked on iSpace(Intelligent Space - Indoor Robot Operation Platform). </p>
		                                </div>
		                            </div>
		                        </li>
		                        <li>
		                            <div class="timeline-image">
		                                <img class="img-circle img-responsive" src="files/img/about/cas.png" alt="">
		                            </div>
		                            <div class="timeline-panel">
		                                <div class="timeline-heading">
		                                    <h4>2013 Sep - Present - 1</h4>
		                                    <h4 class="subheading">CompAndSave.com Inc</h4>
		                                </div>
		                                <div class="timeline-body">
		                                    <p class="text-muted">Working as Web Developer in CompAndSave，develop and upgrade three e-commerce websites, collect and visualize data for Marketing reports. Implement several web applications. Created a brand new e-commerce website under Magento Platform(full statck)</p>
		                                </div>
		                            </div>
		                        </li>
		                        <!--<li class="timeline-inverted">
		                            <div class="timeline-image">
		                                <img class="img-circle img-responsive" src="files/img/project/05.jpg" alt="">
		                            </div>
		                            <div class="timeline-panel">
		                                <div class="timeline-heading">
		                                    <h4>2013 - Present - 2</h4>
		                                    <h4 class="subheading">Beadvising</h4>
		                                </div>
		                                <div class="timeline-body">
		                                    <p class="text-muted">Web Developer in a startup which is showing pla</p>
		                                </div>
		                            </div>
		                        </li>!-->
		                    </ul>
		                </div>
		            </div>
		        </div>
		    </section>

		    <div class="aboutme-icons-block">
		    	<div class="container">
		    		<div class="row">
		    			<div class="col-lg-12 text-center"><h2 class="section-heading">Contact Me</h2></div>
		    		</div>
		    		<div class="row text-center">
		    			<a href="//www.linkedin.com/pub/yiyang-hao/5a/157/b49
"><div class="col-sm-4 aboutme-icon"><i class="icon-linkedin icon-4x"></i></div></a>
		    			<a href="//github.com/yanginblack"><div class="col-sm-4 aboutme-icon"><i class="icon-github icon-4x"></i></div></a>
		    			<a href="//www.facebook.com/yiyang.hao.5"><div class="col-sm-4 aboutme-icon"><i class="icon-facebook icon-4x"></i></div></a>
		    		</div>
		    	</div>
		    </div>
		    <% include footer.html %>
	</body>
</html>