		<div class="footer">
      		<div class="container">
      			<div class="row">
      				<div class="col-md-6">
      					<div class="row">
		      				<div class="col-xs-6 text-center">
		      					
		      					<img src="files/img/footer-img.png" class="img-circle footer-img" alt="Cinque Terre" width="100" height="100"> 
		      					<img src="files/img/footer-img-2.png" class="img-circle footer-img footer-img-2" alt="Cinque Terre" width="100" height="100"> 
		      					<h3>About Me</h3>
		      				</div>
		      				<div class="col-xs-6 footer-icons">
		      					<div class="row footer-icon-row">
		      						<div class="col-xs-12">
		      						<span class="glyphicon glyphicon-envelope footer-icon"></span>
		      						<span class="footer-icons-text">yanginblack@gmail.com</span>
		      						</div>
		      					</div>
		      				    <div class="row footer-icon-row">
		      						<div class="col-xs-12">
			      						<span class="glyphicon glyphicon-phone-alt footer-icon"></span>
			      						<span class="footer-icons-text">919-348-3968</span>
		      						</div>
		      					</div>
		      				</div>
		      			</div>
      				</div>
      				<div class="col-md-6">
      					<div class="row">
      						<div class="col-lg-6 hidden-sm hidden-xs">
      							<div class="footer-skill-tree">Front-End: 
      								<img class="skill-tree-icon" src="files/img/icons/html5.png" alt="HTML5">
      								<img class="skill-tree-icon" src="files/img/icons/css3.png" alt="CSS3">
      								<img class="skill-tree-icon" src="files/img/icons/javascript.png" alt="javascript">
      								<img class="skill-tree-icon" src="files/img/icons/jQuery.png" alt="jQuery">
      								<img class="skill-tree-icon" src="files/img/icons/angular.png" alt="angular">
									<img class="skill-tree-icon" src="files/img/icons/d3js.png" alt="d3.js">
									<img class="skill-tree-icon" src="files/img/icons/coffeescript.png" alt="coffeescript">
      							</div>
      							<div class="footer-skill-tree">Back-Enb: 
      								<img class="skill-tree-icon" src="files/img/icons/java.png" alt="java">
      								<img class="skill-tree-icon" src="files/img/icons/node.png" alt="nodeJS">
      								<img class="skill-tree-icon" src="files/img/icons/php.png" alt="PHP">
      								<img class="skill-tree-icon" src="files/img/icons/mysql.png" alt="mySQL">
      								<img class="skill-tree-icon" src="files/img/icons/nginx.png" alt="NGINX">
      							</div>
      							<div class="footer-skill-tree">Developer Certification: <img class="skill-tree-icon" src="files/img/icons/magento.png"></div>

      						</div>
      						<div id="myCanvasContainer" class="col-lg-6 hidden-md hidden-sm hidden-xs">
	                			<canvas id="myCanvas">
	                    			<ul id="review_tags">
	                    				<li><a>HTML5</a></li>
	                    				<li><a>CSS3</a></li>
	                    				<li><a>JavaScript</a></li>
	                    				<li><a>Angular.js</a></li>
	                    				<li><a>D3.js</a></li>
	                    				<li><a>PHP</a></li>
	                    				<li><a>jQuery</a></li>
	                    				<li><a>MySQL</a></li>
	                    				<li><a>JAVA</a></li>
	                    				<li><a>Magento</a></li>
	                    				<li><a>Restful API</a></li>
	                    				<li><a>AJAX</a></li>
	                    				<li><a>JSON</a></li>
	                    			</ul>
	                			</canvas>
            				</div>
      					</div>
      				</div>


      			</div>
      		</div>
    	</div>


		<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src='files/js/bootstrap.js'></script>
		<script type="text/javascript" src="files/js/tagcanvas.js"></script>
		<script type="text/javascript" src="files/js/global.js"></script>
