<!doctype html>
<html>
	<head>
		<% include head.html %>
    </head>
	<body>
		<% include header.html %>

		<div class="container project-container">
			<div class="row">
				<div class = "col-md-12 text-center"><h2>Game List</h2></div>
			</div>
			
			<div class="row projects">
				<div class="col-sm-4">
					
						<a class="portfolio-box" href="/snow">
							<img class="img-responsive" alt="" src="files/img/games/snow.png">
							<div class="portfolio-box-caption">
								<div class="portfolio-box-caption-content">
									<div class="project-category text-faded"> Snow Flake Game </div>
									<div class="project-name"> Javascript jQuery HTML5 CSS3 </div>
								</div>
							</div>
						</a>
						<div class="hidden-sm">
							<h3>Snow Flake Game</h3>
							<p>A small javascript game, players can create six different type of snowflake which will follow the movement of mouse, in the mean while there is a delay added to the edge of each snowflake, which is a beautiful relaxing scense. 
							</p>
						</div>
					
				</div>
				<div class="col-sm-4">
					
						<a class="portfolio-box" href="/MemoryGame">
							<img class="img-responsive" alt="" src="files/img/games/memory.png">
							<div class="portfolio-box-caption">
								<div class="portfolio-box-caption-content">
									<div class="project-category text-faded"> Memory Game </div>
									<div class="project-name"> Javascript AngularJS Socket.io </div>
								</div>
							</div>
						</a>
						<div class="hidden-sm">
							<h3>Memory Game</h3>
							<p>An AngularJS game, player should memorize the cards' position by keep mathcing them with pairs. And this game allow player to practice by himself, play with friend online or play with AI. Also it includes a chat room. 
							</p>
						</div>					
				</div>
				<div class="col-sm-4"><!--
					
						<a class="portfolio-box" href="#">
							<img class="img-responsive" alt="" src="files/img/project/05.jpg">
							<div class="portfolio-box-caption">
								<div class="portfolio-box-caption-content">
									<div class="project-category text-faded"> Category </div>
									<div class="project-name"> Project Name 3 </div>
								</div>
							</div>
						</a>
						<div class="hidden-sm">
							<h3>Created a new e-commerce website</h3>
							<p>Built a new e-commerce website selling ink cartridges under Magento Platform.Created a new theme  team leader with a designer and a database engineer, responsible for both 
							</p>
						</div>
						<div class="sort-icons hidden-xs">
							<img class="sort-icon-up" src="files/img/icons/html.png" alt="HTML5">
							<img class="sort-icon-up" src="files/img/icons/css.png" alt="CSS3">

						</div>
				!-->	
				</div>
			</div>

		</div>
		<% include footer.html %>
	</body>
</html>