<!doctype html>
<html>
	<head>
		<% include head.html %>
    </head>
	<body ng-app="projectApp">
		<% include header.html %>
		<div class="row head-breadcrumb"><span><a href="/">Home</a></span> > <span>Games</span></div>

		<div class="container project-container" ng-controller="ProjectListCtrl">
			<div class="row">
				<div class = "col-md-12 text-center"><h2>Game List</h2></div>
			</div>
			
			<div class="row projects">
				<div class="col-sm-4" ng-repeat = "game in games">
					
						<a class="portfolio-box" href="{{game.url}}">
							<img class="img-responsive" alt="" src="{{game.img}}">
							<div class="portfolio-box-caption">
								<div class="portfolio-box-caption-content">
									<div class="project-category text-faded"> {{game.category}} </div>
									<div class="project-name"> {{game.name}} </div>
								</div>
							</div>
						</a>
						<div class="hidden-sm">
							<h3>{{game.title}}</h3>
							<p>{{game.description}} 
							</p>
						</div>
					
				</div>
				<div class="col-sm-4"><!--
					
						<a class="portfolio-box" href="#">
							<img class="img-responsive" alt="" src="files/img/project/05.jpg">
							<div class="portfolio-box-caption">
								<div class="portfolio-box-caption-content">
									<div class="project-category text-faded"> Category </div>
									<div class="project-name"> Project Name 3 </div>
								</div>
							</div>
						</a>
						<div class="hidden-sm">
							<h3>Created a new e-commerce website</h3>
							<p>Built a new e-commerce website selling ink cartridges under Magento Platform.Created a new theme  team leader with a designer and a database engineer, responsible for both 
							</p>
						</div>
						<div class="sort-icons hidden-xs">
							<img class="sort-icon-up" src="files/img/icons/html.png" alt="HTML5">
							<img class="sort-icon-up" src="files/img/icons/css.png" alt="CSS3">

						</div>
				!-->	
				</div>
			</div>

		</div>
		<% include footer.html %>
	</body>
</html>