<!doctype html>
<html>
	<head>
  		<% include head.html %>
    </head>
	<body>
		<% include header.html %>
		<script src="http://d3js.org/d3.v3.min.js"></script>
		<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
		<div class="row head-breadcrumb"><span><a href="/">Home</a></span> > <span><a href="/projects">Projects</a></span> > <span>population report</span></div>

    <div class="row">
      <div class="container barchart">

      </div>
    </div>
    <div class="row">
      <div class="container piechart">
          
      </div>
    </div>
    <div class="row">
      <div class="container linechart">
          
      </div>
    </div>
<script>

var margin = {top: 40, right: 20, bottom: 30, left: 80},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

//var formatPercent = d3.format(".0%");

var x = d3.scale.ordinal()
    .rangeRoundBands([0, width], .2);

var y = d3.scale.linear()
    .range([height, 0]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");
    //.tickFormat(formatPercent);

var tip = d3.tip()
  .attr('class', 'd3-tip')
  .offset([-10, 0])
  .html(function(d) {
    return "<span style='color:red'>" + d.Value + "</span>";
  })

var svg = d3.select(".barchart").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

svg.call(tip);

d3.tsv("files/data/data.tsv", type, function(error, data) {
  x.domain(data.map(function(d) { return d.City; }));
  y.domain([0, d3.max(data, function(d) { return d.Value; })]);

  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("Population");

  svg.selectAll(".bar")
      .data(data)
    .enter().append("rect")
      .attr("class", "bar")
      .attr("x", function(d) { return x(d.City); })
      .attr("width", x.rangeBand())
      .attr("y", function(d) { return y(d.Value); })
      .attr("height", function(d) { return height - y(d.Value); })
      .on('mouseover', tip.show)
      .on('mouseout', tip.hide)

});

function type(d) {
  d.Value = +d.Value;
  return d;
}

</script>

<script>
var pie_width = 960, 
    pie_height = 500, 
    radius = Math.min(pie_width,pie_height)/2;

var svg_pie = d3.select(".piechart").append("svg")
    .attr("width", pie_width)
    .attr("height", pie_height)
  .append("g")
    .attr("transform", "translate(" + pie_width / 2 + "," + pie_height / 2 + ")");  

var color = d3.scale.ordinal()
    .range(["#98abc5", "#8a89a6", "#7b6888", "#6b486b", "#a05d56", "#d0743c", "#ff8c00", "#ff8c00", "#ff8c00", "#ff8c00"]);
var arc = d3.svg.arc()
    .outerRadius(radius - 10)
    .innerRadius(0);

var pie = d3.layout.pie()
    .sort(null)
    .value(function(d) { return d.Value; });

d3.tsv("files/data/data_pie.tsv", function(error, data) {
  
  data.forEach(function(d) {
    d.Value = +d.Value;
  });

  var g_pie = svg_pie.selectAll(".arc")
      .data(pie(data))
    .enter().append("g")
      .attr("class", "arc");

  g_pie.append("path")
      .attr("d", arc)
      .style("fill", function(d) { return color(d.data.City); });

  g_pie.append("text")
      .attr("transform", function(d) { return "translate(" + arc.centroid(d) + ")"; })
      .attr("dy", ".35em")
      .style("text-anchor", "middle")
      .text(function(d) { return d.data.City; });

});


</script>


<script>

var line_width = 960 - margin.left - margin.right,
    line_height = 500 - margin.top - margin.bottom;

var parseDate = d3.time.format("%d-%b-%y").parse;

var line_x = d3.time.scale()
    .range([0, width]);

var line_y = d3.scale.linear()
    .range([height, 0]);

var line_xAxis = d3.svg.axis()
    .scale(line_x)
    .orient("bottom");

var line_yAxis = d3.svg.axis()
    .scale(line_y)
    .orient("left");

var line = d3.svg.line()
    .x(function(d) { return line_x(d.date); })
    .y(function(d) { return line_y(d.close); });

var line_svg = d3.select(".linechart").append("svg")
    .attr("width", line_width + margin.left + margin.right)
    .attr("height", line_height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

d3.tsv("files/data/data_line.tsv", function(error, data) {
  if (error) throw error;

  data.forEach(function(d) {
    d.date = parseDate(d.date);
    d.close = +d.close;
  });

  line_x.domain(d3.extent(data, function(d) { return d.date; }));
  line_y.domain(d3.extent(data, function(d) { return d.close; }));

  line_svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(line_xAxis);

  line_svg.append("g")
      .attr("class", "y axis")
      .call(line_yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("Price ($)");

  line_svg.append("path")
      .datum(data)
      .attr("class", "line")
      .attr("d", line);
});

</script>




		<style>

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: orange;
}

.bar:hover {
  fill: orangered ;
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}


.arc path {
  stroke: #fff;
}


.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}


</style>
		
		<% include footer.html %>
	</body>
</html>