<!doctype html>
<html ng-app="populationReport">
	<head>
  		<% include head.html %>
    </head>
	<body ng-controller="populationReportCtrl">
		<% include header.html %>
		<script src="http://d3js.org/d3.v3.min.js"></script>
		<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
		<div class="row head-breadcrumb"><span><a href="/">Home</a></span> > <span><a href="/projects">Projects</a></span> > <span>population report</span></div>


    <div class="row">
      <div class="container text-center">
        <div class="row">
          <h1>World's population charts</h1>
          <p>This project is using d3JS and angularJS to show an intuitive feeling of the world's population growing.<br>The data I use is from <a href="http://data.worldbank.org/indicator/SP.POP.TOTL">The World Bank</a>. It includes population of major coutries and areas from 1960 to 2014. <br>I choose the top 10 coutry with largest population on selected year.<br>Click Play you will see the changes through years. </p>
          <div class="row">
            <p class="col-sm-1"><a href="#" class="btn btn-primary" role="button" ng-click="autoAdd()"><span ng-show="!playing">Play</span><span ng-show="playing">Stop</span></a></p>
            <p class="col-sm-10">
              <input type="range" min="1960" max="2014" ng-model="currentYear">
              <span class="label label-default range-year-end">{{endYear}}</span>
              <span class="label label-default range-year-start">{{startYear}}</span>
            </p>
            <p class="col-sm-1">
              <span class="label label-year label-info">{{currentYear}}</span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 text-center">
        <div class="country_bar p_chart"></div>
      </div>
      <div class="col-md-6 text-center">

        <div class="country_pie p_chart"></div>
      </div>
      <div class="col-md-12 text-center">
        <div class="country_line p_chart">
        </div>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="country_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            {{currentCountry}}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="country_dropdown">
            <li ng-repeat = "country in countries"><a href="javascript:void(0)" ng-click="updateCountry(country)">{{country}}</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row text-center">
      <h2> City Population Map </h2>
      <p>This map is showing population of cities.<br> Each circle represents a city, position is based on longtitude and latitude of that city,<br> and radius is based on population.<br>Surprisingly, it can give us a world map. <br>Data is from <a href="https://github.com/curran/data/tree/gh-pages/geonames">GeoNames extract</a>, showing 4272 cities with population. <br>Idea is from <a href="https://github.com/curran">Curran Kelleher</a>, he finds this amazing way on his github to show city population as a map. </p>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center">
        <div class="container map"></div>
      </div>
    </div>

<link rel="stylesheet" href="files/css/report.css">
<script src="files/js/report.js"></script>		
		<% include footer.html %>
	</body>
</html>