<!doctype html>
<html>
	<head>
  		<% include head.html %>
    </head>
	<body>
		<% include header.html %>
		<div class="container">
			<div class="row">
				<div class="col-sm-8">
					<div class="row projects">
						<div class="col-sm-4 text-center">
							<a class="portfolio-box" href="#">
								<img class="img-responsive" alt="" src="files/img/project/02.jpg">
								<div class="portfolio-box-caption">
									<div class="portfolio-box-caption-content">
										<div class="project-category text-faded"> Category </div>
										<div class="project-name"> Project Name 1 </div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-sm-8 hidden-xs">
							<p class="project-title">Createeebsite</p>
							<p class="project-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
							</p>
							<div class="project-icons"><img class="project-icon" src="files/img/icons/html.png" alt="HTML5"><img class="project-icon" src="files/img/icons/css.png" alt="CSS3"></div>
						</div>
					</div>
					<div class="row projects">
						<div class="col-sm-4 text-center">
							<a class="portfolio-box" href="#">
								<img class="img-responsive" alt="" src="files/img/project/02.jpg">
								<div class="portfolio-box-caption">
									<div class="portfolio-box-caption-content">
										<div class="project-category text-faded"> Category </div>
										<div class="project-name"> Project Name 1 </div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-sm-8 hidden-xs">
							<p class="project-title">Createebsite</p>
							<p class="project-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
							</p>
							<div class="project-icons"><img class="project-icon" src="files/img/icons/html.png" alt="HTML5"><img class="project-icon" src="files/img/icons/css.png" alt="CSS3"></div>
						</div>
					</div>
					<div class="row projects">
						<div class="col-sm-4 text-center">
							<a class="portfolio-box" href="#">
								<img class="img-responsive" alt="" src="files/img/project/02.jpg">
								<div class="portfolio-box-caption">
									<div class="portfolio-box-caption-content">
										<div class="project-category text-faded"> Category </div>
										<div class="project-name"> Project Name 1 </div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-sm-8 hidden-xs">
							<p class="project-title">Createbsite</p>
							<p class="project-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
							</p>
							<div class="project-icons"><img class="project-icon" src="files/img/icons/html.png" alt="HTML5"><img class="project-icon" src="files/img/icons/css.png" alt="CSS3"></div>
						</div>
					</div>
					<div class="row projects">
						<div class="col-sm-4 text-center">
							<a class="portfolio-box" href="#">
								<img class="img-responsive" alt="" src="files/img/project/02.jpg">
								<div class="portfolio-box-caption">
									<div class="portfolio-box-caption-content">
										<div class="project-category text-faded"> Category </div>
										<div class="project-name"> Project Name 1 </div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-sm-8 hidden-xs">
							<p class="project-title">Createebsite</p>
							<p class="project-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
							</p>
							<div class="project-icons"><img class="project-icon" src="files/img/icons/html.png" alt="HTML5"><img class="project-icon" src="files/img/icons/css.png" alt="CSS3"></div>
						</div>
					</div>
					<div class="row projects">
						<div class="col-sm-4 text-center">
							<a class="portfolio-box" href="#">
								<img class="img-responsive" alt="" src="files/img/project/02.jpg">
								<div class="portfolio-box-caption">
									<div class="portfolio-box-caption-content">
										<div class="project-category text-faded"> Category </div>
										<div class="project-name"> Project Name 1 </div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-sm-8 hidden-xs">
							<p class="project-title">Createdebsite</p>
							<p class="project-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
							</p>
							<div class="project-icons"><img class="project-icon" src="files/img/icons/html.png" alt="HTML5"><img class="project-icon" src="files/img/icons/css.png" alt="CSS3"></div>
						</div>
					</div>

				</div>
				<div class="col-sm-4 hidden-xs">
					
						<div class="project-side">
							<div class="sort-icons">Sort By: 
								<div class="sort-icon"><img class="sort-icon-up" src="files/img/icons/html.png" alt="HTML5"><span class="sort-icon-close">X</span></div>
								<div class="sort-icon"><img class="sort-icon-up" src="files/img/icons/css.png" alt="CSS3"><span class="sort-icon-close">X</span></div>

							</div>
							<div class="sort-divider well"> </div>
							<div class="sort-icons">
								<img class="sort-icon-down" src="files/img/icons/html.png" alt="HTML5"><p>HTML</p><br>
								<img class="sort-icon-down" src="files/img/icons/css.png" alt="CSS3"><p>CSS3</p><br>
							</div>
						</div>
						<div class="project-side">
							<h3>This is the Title</h3>
							<p>Not quite sure what should I put here, just a few text in case</p>
							<ul>
								<li>First item</li>
								<li>Second item</li>
								<li>Third item</li>
							</ul>
						</div>
					
				</div>
			</div>
		</div>

		<% include footer.html %>
	</body>
</html>