<!doctype html>
<html>
	<head>
  		<% include head.html %>
    </head>
	<body ng-app="projectApp">
		<% include header.html %>
		<div class="container" ng-controller="ProjectListCtrl">
			<div class="row">
				<div class="col-sm-8">
					<div class="row projects" ng-repeat = "project in projects">
						<div class="col-sm-4 text-center">
							<a class="portfolio-box" href="{{project.url}}">
								<img class="img-responsive" alt="" src="{{project.img}}">
								<div class="portfolio-box-caption">
									<div class="portfolio-box-caption-content">
										<div class="project-category text-faded"> {{project.category}} </div>
										<div class="project-name">{{project.name}}</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-sm-8 hidden-xs">
							<p class="project-title">{{project.title}}</p>
							<p class="project-description">
								{{project.description}}
							</p>
							<div class="project-icons">
								<img ng-repeat = "icon in project.icons" class="project-icon" src="files/img/icons/{{icon.url}}" alt="icon.name">
							</div>
						</div>
					</div>

				</div>
				<div class="col-sm-4 hidden-xs">
					
						<div class="project-side">
							<div class="row text-center">
								<a href='/snow'><img class="project-side-image" src="files/img/games/snow.png" alt="game1"></a>

							</div>
							<div class="sort-divider well"> </div>
							<div class="row project-side-text">
								A small javascript game, players can create six different type of snowflake which will follow the movement of mouse, in the mean while there is a delay added to the edge of each snowflake, which is a beautiful relaxing scense. 
							</div>
						</div>
						<div class="project-side">
							<div class="row text-center">
								<a href='/MemoryGame'><img class="project-side-image" src="files/img/games/memory.png" alt="game2"></a>
							</div>
							<div class="sort-divider well"> </div>
							<div class="row project-side-text">
								An AngularJS game, player should memorize the cards' position by keep mathcing them with pairs. And this game allow player to practice by himself, play with friend online or play with AI. Also it includes a chat room. 
						</div>
						<!--
						<div class="project-side">
							<div class="row text-center">
								<img class="project-side-image" src="files/img/games/3.jpg" alt="game2">
							</div>
							<div class="sort-divider well"> </div>
							<div class="row project-side-text">
								2003年の文化庁メディア芸術祭・漫画部門優秀賞、2006年の第30回講談社漫画賞・一般部門受賞、2007年の文化庁メディア芸術祭「日本のメディア芸術100選」マンガ部門選出。
							</div>
						</div>!-->
					
				</div>
			</div>
		</div>

		<% include footer.html %>
	</body>
</html>