<!doctype html>
<html>
	<head>
		<% include head.html %>
    </head>
	<body>
		<% include header.html %>
		<div class="container">
			<div class="row text-center"><h1>Snowflake Game</h1></div>
			<div class="row">
				<div class="col-sm-2">
					<div id="side_bar hidden-xs">
						<a class="btn btn-primary side_buttons" href="#" data-id="0"><span class="hidden-sm hidden-xs">Snow </span>1</a>
						<a class="btn btn-primary side_buttons" href="#" data-id="1"><span class="hidden-sm hidden-xs">Snow </span>2</a>
						<a class="btn btn-primary side_buttons" href="#" data-id="2"><span class="hidden-sm hidden-xs">Snow </span>3</a>
						<a class="btn btn-primary side_buttons" href="#" data-id="3"><span class="hidden-sm hidden-xs">Snow </span>4</a>
						<a class="btn btn-primary side_buttons" href="#" data-id="4"><span class="hidden-sm hidden-xs">Snow </span>5</a>
						<a class="btn btn-primary side_buttons" href="#" data-id="5"><span class="hidden-sm hidden-xs">Snow </span>6</a>
						<a class="btn btn-primary side_buttons side_back" href="/games" data-id="6"><i class="glyphicon glyphicon-menu-left"></i><span class="hidden-sm hidden-xs"> Back</span></a>
					</div>
				</div>
				<div class="col-sm-9 col-sm-offset-1">
				<!--<div class="container snow_block" id="window">

				</div>!-->
				<div id="screen"></div>
		
				</div>

			</div>
		</div>

	

<style type="text/css">
	#screen {
		width: 100%;
		border: 2px solid #A4A4A4;
		height: 500px;
		border-radius: 15px;
		background-color: black;
		z-index: 1;
	}

	#screen span {
		background: #fff;
		font-size: 0;
		overflow: hidden;
		width: 2px;
		height: 2px;
	}

	#side_bar {
		margin-top: 50px;
	}
	.side_buttons {
		display: block;
		margin: 20px;

	}

	@media screen and (max-width: 768px) {
    .side_buttons {
        margin: 5px;
        display: inline-block;
    }
}
</style>
<script type="text/javascript" src="files/js/game/snowflake.js"></script>
<script type="text/javascript">
    var snowflake = new Follow('screen', {speed: 4,
    animR : 2.2,
	fn : function (i, j) {
	return {
	x : 0.8*j/4*Math.cos(i*Math.PI/180),
	y : 0.8*j/4*Math.sin(i*Math.PI/180)
	}
	}});

	snowflake.setobj(0);
	snowflake.setXY();

	$('.side_buttons').click(function(e) {
		if ($(this).attr('data-id') < 6) {
			e.preventDefault();
			var shape = $(this).attr('data-id');
			snowflake.setcenter();
			snowflake.setobj(shape);
		}
	});

</script>
		<% include footer.html %>
	</body>
</html>