<!doctype html>
<html>
	<head>
		<% include head.html %>
    </head>
	<body>
		<% include header.html %>

		<div class="container snow_block" id="window">

		</div>
		<div id="screen"></div>
<style type="text/css">
	.snow_block {
		width: 1000px;
		background-color: black;
		height: 600px;
		margin-left: auto;
		margin-right: auto;
	}
</style>


		<script type="text/javascript">
var flaketype = 1;
//snowflake which follow mouse
var Follow = function () {

	var $ = function (i) {return document.getElementById(i)},
	addEvent = function (o, e, f) {o.addEventListener ? o.addEventListener(e, f, false) : o.attachEvent('on'+e, function(){f.call(o)})},
	removeEvent = function(o, e, f) {o.removeEventListener ? o.removeEventListener(e, f, false) : o.detachEvent('on'+e, function(){f.call(o)})},
	//OBJ = [], 
	sp, rs, N = 0, m;
	var keyboard;
	var init = function (id, config) {
		this.config = config || {};
		this.obj = $(id);
		sp = this.config.speed || 4;
		rs = this.config.animR || 1;
		m = {x: $(id).offsetWidth * .5, y: $(id).offsetHeight * .5};
		//this.setXY();
		this.start();
		}
	init.prototype = {
			
			fn: function(e) {
			e = e || window.event;
			m.x = e.clientX-240;
			m.y = e.clientY-200+document.body.scrollTop+document.documentElement.scrollTop;
			center_x = m.x+240;
			center_y = m.y+200;
			
		},
		
		
		
		
		
		setXY : function () {
		    var _this = this;
			//addEvent(this.obj, 'mousemove', function (e) {
			addEvent(this.obj, 'mousemove', this.fn)

			},
			
			deleteXY: function() {
            removeEvent(this.obj, 'mousemove', this.fn)
		    
           // removeEvent(this.obj, 'mousemove', function(e) {alert("removed");});
           
			},
			
			keyboardcontrol: function(key){
				 if (key== 65)
               {play('keyboard'); 
               	if(rightflag) rightflag=false;
               	 else leftflag=true;  
               	 upflag=false;
               	 downflag=false;
                }  
			else if (key == 87)
			
			{   play('keyboard');
				if (downflag) downflag=false;
				else upflag=true;
				rightflag=false;
				leftflag=false;
			 
			}
			else if (key == 68)
			{   play('keyboard');
				if(leftflag) leftflag=false;
				else rightflag=true;
				upflag=false;
				downflag=false;
				}
			else if (key == 83)
			{   play('keyboard');
				if (upflag) upflag=false;
				else downflag=true;
				rightflag=false;
				leftflag=false;
				}
		//remember to cancel the switchmouse variable		
		//	if (!this.switchmouse)
		//	{	
				
			    
		//	    center_x = m.x+240;
		//	    center_y = m.y+200;
		//	   }
			    
			},

			keyboardstart: function() {
				keyboard = setInterval(function() {

						if(leftflag) {if(m.x>25) m.x-=5; else leftflag=false;}
						else if(rightflag) {if(m.x<785) m.x+=5; else rightflag=false;}
						else if(upflag) {if(m.y>15) m.y-=5; else upflag=false;}
						else if(downflag) {if(m.y<485) m.y+=5; else downflag=false;}
						
					     center_x = m.x+240;
			   			 center_y = m.y+200;
					
				}, 50);
			},
			
			keyboardend: function() {
				window.clearInterval(keyboard);
			},
			
			setobj: function(shape) {
			    //play('turnwhite');
				OBJ=[];
				N=0;
				var k = 180 / Math.PI, OO, o, _this = this, fn = this.config.fn;
				var obj1 = document.getElementById('screen');
				while(obj1.firstChild)
				{
					obj1.removeChild(obj1.firstChild);
				}				
				OBJ[N++] = OO = new CObj(null, 0, 0);
				if (shape==0)
					{   //normal snowflake-shape
          for (var i=30;i<390;i+=60)
		{
			var O=OO;
			for (var j=15;j<27;j++)
			{
				var x = fn(i,j).x, y = fn(i,j).y;
				OBJ[N++] = o = new CObj(O,x,y);
				O = o;
				
				if ((j-10)%8 == 0)
				{
					var pre_i = i, pre_j = j, pre_O = O;

					for (var k=0;k<5;k++)
					{
						i+=10;
						j+=0.5;
						x = fn(i,j).x; 
						y = fn(i,j).y;
						OBJ[N++] = o = new CObj(O,x,y);
						O = o;
					}
					i = pre_i;
					j = pre_j;
					O = pre_O;
									for (var k=0;k<5;k++)
									{
									i-=10;
									j+=0.5;
									x = fn(i,j).x;
									y = fn(i,j).y;
									OBJ[N++] = o = new CObj(O,x,y);
									O = o;
						
									}
								i = pre_i;
								j = pre_j;
								O = pre_O;
								}
							}
						}

					}
					
						else if (shape==3)
 // beautiful flower green
       						{
								for (var i=0;i<360;i+=60)
								{
								var O=OO;
								for (var j=15;j<27;j++)
									{
										var x = fn(i,j).x, y = fn(i,j).y;
										OBJ[N++] = o = new CObj(O,x,y);
										O = o;
				
										if ((j-10)%8 == 0)
										{
											var pre_i = i, pre_j = j, pre_O = O;

											for (var k=0;k<8;k++)
												{
													i+=10;
													j+=7;
													x = fn(i,j).x; 
													y = fn(i,j).y;
													OBJ[N++] = o = new CObj(O,x,y);
													O = o;
												}
											i = pre_i;
											j = pre_j;
											O = pre_O;
											for (var k=0;k<8;k++)
												{
												i-=10;
												j+=7;
												x = fn(i,j).x;
												y = fn(i,j).y;
												OBJ[N++] = o = new CObj(O,x,y);
												O = o;
						
												}
											i = pre_i;
											j = pre_j;
											O = pre_O;
										}
									}
								}
		
							}//else if


			else if (shape==1)
            {
			//snowflake spin
       		for(var i=0;i<360;i+=20){
			var O = OO;
			var pre_i = i;
			for(var j=15; j<40; j+=2){
				var x = fn(i, j).x,
				y = fn(i, j).y;
				OBJ[N++] = o = new CObj(O , x, y);
				O = o;
				i-=5;
				}
				i=pre_i;
			}


          }
          
          
           else if (shape==2)
               //snowflake six angle
               {
                for (var i=30;i<390;i+=60)
				{
				var O=OO;
				for (var j=12;j<27;j++)
					{
				var x = fn(i,j).x, y = fn(i,j).y;
				OBJ[N++] = o = new CObj(O,x,y);
				O = o;
				
				if ((j-10)%8 == 0)
				{
					var pre_i = i, pre_j = j, pre_O = O;

					for (var k=0;k<(pre_j/2);k++)
					{   i+=5;
						j-=5;
						x = fn(i,j).x; 
						y = fn(i,j).y;
						OBJ[N++] = o = new CObj(O,x,y);
						O = o;
					}

					i = pre_i;
					j = pre_j;
					O = pre_O;
										
					for (var k=0;k<(pre_j/2);k++)
					{   i-=5;
						j-=5;
						x = fn(i,j).x;
						y = fn(i,j).y;
						OBJ[N++] = o = new CObj(O,x,y);
						O = o;
						
					}
					i = pre_i;
					j = pre_j;
					O = pre_O;
				}
			}
		}
	}		
	
	
	
	
	else if (shape==4)
     //snowflake like small flower
     {
		for(var i=0;i<360;i+=60){
			var O = OO;
			   pre_i = i;
			   pre_O = O;
			for(var j=10; j<34; j+=1){
				
				var x = fn(i, j).x,
				y = fn(i, j).y;
				if (j<22)
				{i+=5;}
				else 
				{i-=5;}
				OBJ[N++] = o = new CObj(O , x, y);
				O = o;
				}
				O = pre_O;
				i = pre_i;
				for(var j=10; j<34; j+=1){
				if (j<22)
				{i-=5;}
				else 
				{i+=5;}
				var x = fn(i, j).x,
				y = fn(i, j).y;
				OBJ[N++] = o = new CObj(O , x, y);
				O = o;
				}
			}	
		
         }
         // snowflake of spin combine normal
          else if (shape==5)
          {
        for(var i=0;i<360;i+=30){
			var O = OO;
			for(var j=15; j<27; j+=1){
				var x = fn(i, j).x,
				y = fn(i, j).y;
				OBJ[N++] = o = new CObj(O , x, y);
				O = o;
				if ((j%5)==0)
				{   pre_i = i;
					pre_O = O;
					for (var k=0; k<(j*2/5); k++)
					{
						i-=5;
						x = fn(i, j).x,
				        y = fn(i, j).y;
				        OBJ[N++] = o = new CObj(O , x, y);
				        O = o;
					}
					i = pre_i;
					O = pre_O;
				}
				
				}
			}
	     }

      
      

          		
					
			},
			
			turnwhite: function() {
				play('turnwhite');
				for (var i = 0; i < N; i++) {if(OBJ[i].parent) OBJ[i].css.background="white";}
				flaketype=0;
				num=0;
			},

		start : function () {
		//var k = 180 / Math.PI, OO, o, _this = this, fn = sethis.config.fn;
		      
		       this.setobj(0);
	   var element;
	   element = document.getElementById('num');
		setInterval(function() {
			for (var i = 0; i < N; i++) OBJ[i].run();
			
			element.innerHTML=num;
			if (flaketype==1) {element.style.color='#ee0c51';}
			else if (flaketype==2) {element.style.color='#D7DF01';}
			else if (flaketype==3) {element.style.color='#32f740';}
			else if (flaketype==4) {element.style.color='#32e3f7';}
			else if (flaketype==5) {element.style.color='#b900d4';}
			else element.style.color='#555555';
			
			//if ()//end of if(changeflag)
			if(redflag) document.getElementById('snowflake_1').style.display="block";	
			if(yellowflag) document.getElementById('snowflake_2').style.display="block";
			if(greenflag) document.getElementById('snowflake_3').style.display="block";
			if(blueflag) document.getElementById("snowflake_4").style.display="block";
			if(purpleflag) document.getElementById("snowflake_5").style.display="block";	
			}, 20);
		} //start function
	
	} //init.propotype
	
	var CObj = function (p, cx, cy) {
		
		if (!p)
		{
			var obj = document.createElement("img");
			obj.setAttribute('src','../game/image/moon.png');
			document.getElementById("screen").appendChild(obj);
			this.css = obj.style;
			this.css.position = "absolute";
			this.css.left = "-1000px";
			this.ddx = 0;
        	this.ddy = 0;
			this.PX = 0;
			this.PY = 0;
			this.x = 0;
			this.y = 0;
			this.x0 = 0;
			this.y0 = 0;
			this.cx = cx;
			this.cy = cy;
			this.parent = p;
			
		}
		else
		{
		
		var obj = document.createElement("span");
		this.css = obj.style;
		this.css.position = "absolute";
		this.css.left = "-1000px";
		//this.css.zIndex = 1000 - N;
		document.getElementById("screen").appendChild(obj);
		this.ddx = 0;
        this.ddy = 0;
		this.PX = 0;
		this.PY = 0;
		this.x = 0;
		this.y = 0;
		this.x0 = 0;
		this.y0 = 0;
		this.cx = cx;
		this.cy = cy;
		this.parent = p;
       }
		}
/*		
	CObj.prototype.run = function () {
		if (!this.parent) {
		this.x0 = m.x;
		this.y0 = m.y;
		} else {
		this.x0 = this.parent.x;
		this.y0 = this.parent.y;
		}
		this.x = this.PX += (this.ddx += ((this.x0 - this.PX - this.ddx) + this.cx) / rs) / sp;
		this.y = this.PY += (this.ddy += ((this.y0 - this.PY - this.ddy) + this.cy) / rs) / sp;
		this.css.left = Math.round(this.x)+'px';
		this.css.top = Math.round(this.y)+'px';
		}
		
*/
		CObj.prototype.run = function () {
		if (!this.parent) {
		this.x0 = m.x;
		this.y0 = m.y;
		} else {
				this.x0 = this.parent.x;
				this.y0 = this.parent.y;
				}
		this.x = this.PX += (this.ddx += ((this.x0 - this.PX - this.ddx) + this.cx) / rs) / sp;
		this.y = this.PY += (this.ddy += ((this.y0 - this.PY - this.ddy) + this.cy) / rs) / sp;
		if (!this.parent)
		{
		this.css.left = Math.round(this.x)-17+'px';
		this.css.top = Math.round(this.y)-17+'px';
		}
		else
		{
		this.css.left = Math.round(this.x)+'px';
		this.css.top = Math.round(this.y)+'px';
		}
			if (changeflag=true)
			{ if(this.parent)
			{if (flaketype==1) {this.css.background='#ee0c51';}
			else if (flaketype==2) {this.css.background='#f5f732';}
			else if (flaketype==3) {this.css.background='#32f740';}
			else if (flaketype==4) {this.css.background='#32e3f7';}
			else if (flaketype==5) {this.css.background='#b900d4';}
			changeflag = false;
			}
			}
		}
	return init;
}();












			            var snowflake = new Follow('window', {speed: 4,
                        animR : 2,
						fn : function (i, j) {
						return {
						x : 0.8*j/4*Math.cos(i*Math.PI/180),
						y : 0.8*j/4*Math.sin(i*Math.PI/180)
						}
						}});

						snowflake.setXY();
						snowflake.setobj(1);

		</script>
		<% include footer.html %>
	</body>
</html>