<!doctype html>
<html>
	<head>
  		<% include head.html %>
    </head>
	<body>
		<% include header.html %>
		<div class="row head-breadcrumb"><span><a href="/">Home</a></span> > <span><a href="/projects">Projects</a></span> > <span>Tomatoink</span></div>
		<div class="container">
			<div class="row text-center"><h1>Tomatoink e-commerce website</h1></div>
			<div class="row projectpage-row">
				<div class="col-sm-4"><img class="projectpage-images" src='files/img/project/tomatoink/tomatoink.png'></div>
				<div class="col-sm-8">
					<p>
						Built an e-commerce website under Magento Platform. Created a new theme (Customize all of the website pages) and developed several extensions (Backend Optimization for business flow and order operation, customer service). Worked as team leader with a designer and a database engineer, responsible for both front-end and backend implementation. 
					</p>
					<p><a href="//www.tomatoink.com" class="btn btn-primary" role="button">View Website</a></p>

				</div>
			</div>
			<div class="row projectpage-row">
				<div class="col-sm-4"><img class="projectpage-images" src='files/img/project/tomatoink/ti1.jpg'></div>
				<div class="col-sm-4"><img class="projectpage-images" src='files/img/project/tomatoink/ti2.jpg'></div>
				<div class="col-sm-4"><img class="projectpage-images" src='files/img/project/tomatoink/ti3.jpg'></div>
			</div>
			<div class="row projectpage-row">
				<div class="col-sm-4"><img class="projectpage-images" src='files/img/project/tomatoink/ti4.jpg'></div>
				<div class="col-sm-4"><img class="projectpage-images" src='files/img/project/tomatoink/ti5.jpg'></div>
				<div class="col-sm-4"><img class="projectpage-images" src='files/img/project/tomatoink/ti6.jpg'></div>
			</div>

		</div>
		<% include footer.html %>
	</body>
</html>